<!DOCTYPE html>

<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<body>
	<div id='main'>

		<img id='logo' src='images/logo.png' height='150px' width='270px'>

		<form id='form' action='/' method='POST'>
			<input id='location' type='text' name='location' placeholder='Name of Your City'>
			<input id='btn' type='submit' value='Search'>
		</form>

		<div id='footer'>
		<form action='/subscribe' method='POST'>
			<input type='text' name='number' placeholder='Enter your number to subscribe to daily alert'>
			<input type="submit" id='sBtn' value='subscribe'>
		</form>
	</div>
	</div>

	{{{body}}}
</body>
</html>